@model NoteLibrary.Models.Entities.File

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2 class="pt-2">@Html.DisplayFor(model => model.CourseName) Ders Notunun Detayı</h2>
    <h4>Dosya Detayı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ders Adı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            Başlık
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Açıklama
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Ekleme Bilgisi
        </dt>
        <dd>
            <span class="bg-danger text-white"> @Html.DisplayFor(model => model.AddedUser.Name) @Html.DisplayFor(model => model.AddedUser.Surname) </span> Tarafından
            @Html.DisplayFor(model => model.UploadDate) Tarihinde Eklendi.
        </dd>
    </dl>
    <div class="pb-2">
        <a asp-action="Index" class="btn btn-danger">Geri Dön</a>
        <a target="_blank" href="@Html.DisplayFor(model => model.FilePath)" class="btn btn-warning">İndir</a>
    </div>
</div>